
.main-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 120px; 
  height: 520px;
  width: 100%;
  color: white;
  background-color: #10bbc7;
  background-image: url("https://www.transparenttextures.com/patterns/food.png");
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}


@media only screen and (min-width: 1024px) {
  .main-header {
    height: 420px;
    max-width: 500px;
    margin-top: 220px;
    margin-left: 70px;
    margin-right: 100px;
  }

  .main-header .info{
    margin-bottom: 100px;
  }

}