
.main-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 120px; 
  height: 520px;
  width: 100%;
  color: white;
  background-color: #10bbc7;
  background-image: url("https://www.transparenttextures.com/patterns/food.png");
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bold {
  font-weight: 700;
  /* font-size: 40px; */
}

.nobold {
  font-weight: 300;
}