#tweet-container {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0.3em;
}

.tweet-article {
  align-items: center;
  height: 260px;
  width: 97%;
  margin: .4em;
  border: 3px solid  #545149; 
}

.tweet-article:hover {
  box-shadow: 5px 8px #888888;
}

.tweet-header {
  display: flex; 
  justify-content: space-between;
  flex-direction: row;
  margin: 0.5em;
  width: 90%;
}

.tweet-avatar-name {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width:15vw;
  size:0.2em;
}

.tweet-avatar {
  display: flex;
  align-items: center;
  width: 10vw;
  size: 0.2em;
}


.userID {
  opacity:0.5;
  color:#4056A1;
}


.tweet-post-container {
  margin-left: .8em;
  margin-right: .8em;
  border-style: hidden;
  border-bottom: 3px solid #545149;
  line-height: 1;
  word-wrap: break-word;
}


.tweet-footer {
  font-size: 18px;
  margin-left: 1em;
  margin-right: 1em;
  display: flex;
  justify-content: space-between;
}


.icons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 10vw;
  margin-right: .5em; 
  color: #4056A1;
}

.icon1 {
  margin-right: 10px;
}

.icon2 {
  margin-right: 10px;
}

.icon1:hover {
color: orange;
}

.icon2:hover {
  color: orange;
  }

.icon3:hover {
  color: orange;
  }




  @media only screen and (min-width: 1024px) {
    main {
      margin-top: 120px;
    }
  }
