nav {
  display: flex;
  position: fixed;
  justify-content: space-between; /*to make left and right-nav apart*/
  /* font-family: 'Source Sans Pro', sans-serif; */
  color:#FFFFFF;
  background-color: #4056A1;
  height: 120px;
  width: 100%;
 /*  padding-left: 1.5em;
  padding-right: 1.5em; */
}

#logo {
  display: flex;
  font-family: 'Bungee', sans-serif;
  align-items: center;
  font-size: 46px;
  margin: 1.5em;
  margin-bottom: 0.8em;
}

.rightNav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1.5em;
}

.arrow-down {
  align-items: center;
  color: red;
}

.rightNav p {
  margin-bottom: .1em;
}