nav {
  display: flex;
  position: fixed;
  justify-content: space-between; /*to make left and right-nav apart*/
  color:#FFFFFF;
  background-color: #4056A1;
  height: 120px;
  width: 100%;
}

#logo {
  display: flex;
  font-family: 'Bungee', sans-serif;
  align-items: center;
  font-size: 36px;
  margin: 1.5em;
  margin-bottom: 0.8em;
}

.rightNav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1.5em;
}

.arrow-down {
  align-items: center;
  color: red;
}

.rightNav p {
  margin-bottom: .1em;
}



@media only screen and (max-width: 1024px) {
  nav {
    background-color: #10bbc7;
    background-image: url("https://www.transparenttextures.com/patterns/food.png");
    height: 120px;
  }
}