
.new-tweet {
display: flex; 
flex-direction: column;
align-items: center;
/* margin-top: 30px;
margin-bottom: 30px; */
margin: 30px 10px; 
}


#submit-tweet {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* how to make the other three boarders transparent */
}

#tweet-text {
border-style: hidden;
border-bottom: 5px solid  #545149; 
background-color: #f4f1ec;
width: 100%;
}


.button {
  color:white;
  font-size: 18px;
  font-family: 'Bungee', sans-serif;;
  background-color: blue;
}


.button-number{ /* tweet button and 140 */
  display: flex;
  justify-content: space-between;  /* make them away from each other */
  margin-top:5px;  /* give some space from the form */
}




.error-text {
 font-size: auto;
 text-align: center;
 height: 3em; 
 margin-bottom: .1em;
 color: #cd4444;
 width: 80%;
}

